:root {
  --approve: #30de5a;
  --decline: #ea3547;
  --waiting: #026cdf;
}
.bg-decline {
  background-color: var(--decline);
}
.border-top-left-decline {
  border-left: 4px solid var(--decline);
}
.border-top-left-waiting {
  border-left: 4px solid var(--waiting);
}
.bg-approve {
  background-color: var(--approve);
}
.border-top-left-approve {
  border-left: 4px solid var(--approve);
}
.text-approve {
  color: var(--approve);
}
.text-decline {
  color: var(--decline);
}
.text-waiting {
  color: var(--waiting);
}

.dis-close-modal {
   display: none;
}

.close-modal-visible {
  display: block;
}

.ticketmaster-extension-modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 15px;
  outline: 0;
}

.ticketmaster-extension-modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.ticketmaster-extension-modal-dialog {
  width: 450px;
  padding-right: 20px;
  padding-top: 55px;
}

.ticketmaster-extension-modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}

.ticketmaster-extension-modal-title {
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem !important;
  font-weight: 400;
}

.ticketmaster-extension-modal-header button {
  font-size: 2rem !important;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  background: transparent !important;
  color: #000000 !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.4em 0 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.ticketmaster-extension-modal-body {
  margin: 15px 0 15px 15px;
  display: flex;
  justify-content: space-between;
}
.ticketmaster-extension-modal-message {
  padding: 0 30px 0 5px;
  color: #8e8e96;
}

.ticketmaster-extension-modal-message h1 {
  margin-top: 0;
}

.dis-show-modal.ticketmaster-extension-modal {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.ticketmaster-extension-modal-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.flex-grow-1 {
  flex-grow: 1;
}
.ticketmaster-extension-modal-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}
